.home__page {
	background: black;
	width: 100%;
	height: 100vh;
}

.about__page {
	background: yellow;
	width: 100%;
	height: 100vh;
}

.contact__page {
	background: blue;
	width: 100%;
	height: 100vh;
}
