.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	.content {
		display: flex;
		justify-content: center;

		.link {
			margin: 20px 10px;
			padding: 10px 15px;
			background: #545454;
			border-radius: 15px;
			text-decoration: none;
			cursor: pointer;
			color: white;

			&.active {
				background: #c100ff;
				box-shadow: 0px 0px 10px purple, 0px 0px 20px purple,
					0px 0px 30px purple;
			}
		}
	}
}
